<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<header th:replace="master/master :: header"></header>
	<div class="container">
		<div>
			<form th:action="@{/tallas/guardar}" th:object="${emp}" method="post">
				<div class="col-sm-12">
					<label class="form-label">Id: </label> <input type="text"
						th:field="*{idTalla}" class="form-control"
						placeholder="Digite su id"></input>
				</div>

				<div class="col-sm-12">
					<label class="form-label">Nombre de Talla: </label> <input
						type="text" th:field="*{nombreTalla}" class="form-control"
						placeholder="Digite su nombre"></input>
				</div>

				<div class="col-sm-12">
					<input type="submit" value="Registrar" class="btn btn-dark"></input>
				</div>


			</form>
		</div>

	</div>

</body>
</html>