<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="ISO-8859-1">
<title>Actualizar TipoProducto</title>
</head>
<body>
	<header th:replace="master/master :: header"></header>
	<br>
	<div class="container">
		<div>

			<form th:action="@{/tipoproductos/modificar}" th:object="${tipo}" method="post">
				<div class="col-sm-12">
					<label class="form-label">Id: </label> <input type="text"
						th:field="*{idTipoProducto}" class="form-control" readonly="readonly"></input>
				</div>

				<div class="col-sm-12">
					<label class="form-label">Tipo de Producto: </label> <input type="text"
						th:field="*{NombreTipoProducto}" class="form-control" required="required"></input>
				</div>

				<div class="col-sm-12">
					<input type="submit" value="Actualizar"  class="btn btn-dark"></input>
				</div>

			</form>
		</div>
	</div>
</body>
</html>