<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="UTF-8">
<title>ListarTipoProducto</title>
</head>
<body>
	<header th:replace="master/master :: header"></header>
	<div class="container">
		<div>
			<div class="table-responsive">
				<table class="table table-white">
					<thead>
					<tr>
						<th>Id</th>
						<th>Tipo</th>
						<th>Operación</th>
						<th>Operación</th>
					</tr>	
					</thead>
					<tbody>
						<tr th:each="a:${listaTipoProductos}">
							<td th:text="${a.idTipoProducto}"></td>
							<td th:text="${a.NombreTipoProducto}"></td>
							
							<td>
							<a th:href="@{/tipoproductos/eliminar?id=}+${a.idTipoProducto}"> Eliminar
							</a>
							</td>
							<td>
							<a th:href="@{'/tipoproductos/irmodificar/'+${a.idTipoProducto}}">Actualizar
							</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>