<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header th:replace="master/master :: header"></header>

	<div class="container">
		<div>
			<form th:action="@{/marcas/modificar}" th:object="${marca}"
				method="post">
				<div class="col-sm-12">
					<label class="form-label">Id:</label> <input type="text"
						th:field="*{idMarca}" class="form-control" readonly="readonly"></input>
				</div>
				<div class="col-sm-12">
					<label class="form-label">Nombre de Marca:</label> <input
						type="text" th:field="*{nombreMarca}" class="form-control"
						required="required"></input>
				</div>
				<div class="col-sm-12">
					<label class="form-label">Descripcion de Marca:</label> <input
						type="text" th:field="*{descripcionMarca}"
						class="form-control"></input>
				</div>

				<div class="col-sm-12">
					<input type="submit" value="Actualizar" class="btn btn-dark"></input>
				</div>
			</form>
		</div>
	</div>
</body>
</html>